body{
    margin: 0;
    padding: 0;
    background-color: black;
}

h1 {
    text-align:  center;
    color: white;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 20% 0 20%;
    border: 3px solid blue;
    border-radius: 3px;
    background-color: white;
}

form {
    display: flexbox;
}

label, input, button {
    display: block;
}

th {
    text-align: left;
}